<form class="searchbar--form">
  <div class="searchbar--container">
  <mat-form-field class="searchbar--form-field">
    <mat-label>Suchbegriff eingeben...</mat-label>
    <input type="search" matInput [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" style="padding-bottom: 0 !important;" (input)="sendFilter()"/>
    <button mat-button matSuffix mat-icon-button class="searchbar--search-button">
      <span class="material-icons">search</span>
    </button>
  </mat-form-field>
  <div class="searchbar--filter" *ngIf="filterOpen">
    <div class="searchbar--filter-column-right--container">
      <!--label class="searchbar--filter-slider-label">Bewertung</label-->
      <app-rating-stars class="searchbar--filter-slider--stars" [bewertung]="5"></app-rating-stars>
      <ng5-slider [(value)]="valueBewertung" [(highValue)]="highValueBewertung" [options]="optionsBewertung" class="searchbar--filter-slider" (valueChange)="sendFilter()" (highValueChange)="sendFilter()"></ng5-slider>
      <label class="searchbar--filter-slider-label">Dauer</label>
      <ng5-slider [(value)]="valueLaufzeit" [(highValue)]="highValueLaufzeit" [options]="optionsLaufzeit" class="searchbar--filter-slider" (valueChange)="sendFilter()" (highValueChange)="sendFilter()"></ng5-slider>
    </div>
    <div class="searchbar--filter-column-left--container">
      <div class="searchbar--filter-column-left-top--container">
        <div class="searchbar--filter-column-left-top--select--container">
          <mat-form-field appearance="fill">
            <mat-label>Speichermedien</mat-label>
            <mat-select [formControl]="speichermedien" (selectionChange)="sendSelect($event, 'speichermedien')">
              <mat-option></mat-option>
              <mat-option *ngFor="let data of movieObject.data" [value]="data" (change)="sendFilter()">{{data['bezeichnung']}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Genres</mat-label>
            <mat-select [formControl]="genres" (selectionChange)="sendSelect($event, 'genres')">
              <mat-option></mat-option>
              <mat-option *ngFor="let genre of genreTmdb.genres" [value]="genre" (change)="sendFilter()">{{genre['name']}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="searchbar--filter-column-left-top--check--container">
          <mat-checkbox class="searchbar--filter-column-left-top--check" (change)="onFavoritenCheckboxClick()">Nur Favoriten</mat-checkbox>
          <mat-checkbox class="searchbar--filter-column-left-top--check" checked (change)="onBewertungCheckboxClick()">Nicht bewertet</mat-checkbox>
        </div>
      </div>
      <ng5-slider [(value)]="valueJahre" [(highValue)]="highValueJahre" [options]="optionsJahre" class="searchbar--filter-slider" (valueChange)="sendFilter()" (highValueChange)="sendFilter()"></ng5-slider>
    </div>
    <!--div class="searchbar--filter-slider--container">

    </div-->
  </div>
  </div>
</form>
<div class="filter-button--container">
  <button mat-button aria-label="FilterObject" class="filter-button" (click)="onFilterClick()">
    <mat-icon *ngIf="!filterOpen">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="filterOpen">keyboard_arrow_up</mat-icon>
    <span class="navbar--button--label"> Filter</span>
  </button>
</div>


