//Styles für die Suchleiste und die dazugehörigen FilterObject

.searchbar--form {
  padding: 0 3rem;
}

.searchbar--container {
  display: flex;
  flex-direction: column;
}

.searchbar--form-field {
  width: 100%;
  font-size: 1.5rem;
}

.searchbar--filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.searchbar--filter-column-right--container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1rem;
  padding-top: 1rem;
  width: 30rem;
}

.searchbar--filter-column-left--container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1rem;
  width: 30rem;
}

.searchbar--filter-column-left-top--container {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.searchbar--filter-column-left-top--select--container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.searchbar--filter-column-left-top--check--container {
  margin: 1rem 0 0 1rem;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.searchbar--filter-slider--container {
  width: 30rem;
  margin: 1rem;
}

.filter-button--container {
  display: flex;
  justify-content: center;
}

.filter-button {
}

.searchbar--filter-slider {
  place-self: center;
}

.searchbar--filter-slider-label {
  margin-bottom: -1rem;
}

.searchbar--filter-column-left-top--check {
  margin-bottom: 2rem;
}
.searchbar--filter-slider--stars {
  width: 135%;
  margin-left: -5.25rem;
  margin-bottom: -2rem;
}

::ng-deep {
  .searchbar--filter-column-right--container .ng5-slider, .searchbar--filter-column-left--container .ng5-slider {
    .ng5-slider-bar {
      height: 2px;
    }

    .ng5-slider-left-out-selection .ng5-slider-bar {
      background: #2ecb6f !important;
    }

    .ng5-slider-right-out-selection .ng5-slider-bar {
      background: #e74c3c !important;
    }

    .ng5-slider-selection {
      background: var(--primary-color-light);
    }

    .ng5-slider-pointer {
      background: var(--primary-color-light);
    }

    .ng5-slider-limit {
      font-weight: bold;
      color: orange;
    }

    .ng5-slider-tick.ng5-slider-selected {
      background: var(--primary-color-light);
    }

    .ng5-slider-active::after {
      background-color: var(--primary-color) !important;
    }
  }
}

@media screen and (max-width: 1120px) {
  .searchbar--filter-slider-label {
    display: none;
  }
  .searchbar--filter-slider {
    margin-bottom: 3rem;
  }
  .searchbar--filter-slider--stars {
    margin-bottom: -0.5rem;
    padding: 0 0 0 3rem;
  }
}

@media screen and (max-width: 500px) {
  .searchbar--filter-slider {
    display: none;
  }
  .searchbar--filter-column-left-top--check {
    margin-bottom: 1rem;
  }
  .searchbar--filter-column-left-top--container {
    flex-direction: column;
  }

  .searchbar--filter-slider--stars {
    display: none;
  }
}




