<app-page-header [title]="'Login'"></app-page-header>
<div class="login--container">
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          #name="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="name.errors && f.submitted"
        >
          name is required!
        </div>
      </div>
      <div class="form-group">
        <label for="passwort">Passwort</label>
        <input
          id="passwort"
          type="passwort"
          class="form-control"
          name="passwort"
          [(ngModel)]="form.passwort"
          required
          minlength="6"
          #passwort="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="passwort.errors && f.submitted"
        >
          <div *ngIf="passwort.errors.required">Passwort wird benötigt</div>
          <div *ngIf="passwort.errors.minlength">
            Passwort muss mindestens 6 Zeichen enthalten
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Login
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Login fehlgeschlagen: {{ errorMessage }}
        </div>
      </div>
    </form>
  <div>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      Angemeldet als: {{ name }}.
    </div>
    <div class="form-group" *ngIf="isLoggedIn">
      <button class="btn btn-primary btn-block" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
  </div>

