<div class="picture-list--widget--container" *ngIf="filteredMovieObject;">
  <div class="picture-list--widget" *ngFor="let data of filteredMovieObject; let i=index" (click)="navigateTo(navigationPathEnum.DETAIL_URL + data['email'] + '/' + data['film_ID'])">
    <img src="https://image.tmdb.org/t/p/w500{{data.filmTmdb['poster_path']}}" class="picture-list--picture"/>
    <div class="picture-list--widget--favorit">
      <div class="picture-list--widget--favorit-liked" *ngIf="data['favorit']">
        <mat-icon>favorite</mat-icon>
      </div>
      <div class="picture-list--widget--favorit-notliked" *ngIf="!data['favorit']">
        <mat-icon>favorite_outline</mat-icon>
      </div>
    </div>
    <div class="picture-list--widget-text">
      <div class="picture-list--widget-text--header">
        <div class="picture-list--widget-text--header--title">
          {{data.filmTmdb['title']}}
        </div>
        <div class="picture-list--widget-text--header--bewertung star{{data['bewertung']}}">
          <div class="picture-list--widget-text--header--bewertung yellow" *ngIf="data['bewertung'] >= 1">
            <mat-icon>star</mat-icon>
          </div>
          <div class="picture-list--widget-text--header--bewertung" *ngIf="data['bewertung'] < 1">
            <mat-icon>star</mat-icon>
          </div>
          <div class="picture-list--widget-text--header--bewertung yellow" *ngIf="data['bewertung'] >= 2">
            <mat-icon>star</mat-icon>
          </div>
          <div class="picture-list--widget-text--header--bewertung" *ngIf="data['bewertung'] < 2">
            <mat-icon>star</mat-icon>
          </div>
          <div class="picture-list--widget-text--header--bewertung yellow" *ngIf="data['bewertung'] >= 3">
            <mat-icon>star</mat-icon>
          </div>
          <div class="picture-list--widget-text--header--bewertung" *ngIf="data['bewertung'] < 3">
            <mat-icon>star</mat-icon>
          </div>
          <div class="picture-list--widget-text--header--bewertung yellow" *ngIf="data['bewertung'] >= 4">
            <mat-icon>star</mat-icon>
          </div>
          <div class="picture-list--widget-text--header--bewertung" *ngIf="data['bewertung'] < 4">
            <mat-icon>star</mat-icon>
          </div>
          <div class="picture-list--widget-text--header--bewertung yellow" *ngIf="data['bewertung'] >= 5">
            <mat-icon>star</mat-icon>
          </div>
          <div class="picture-list--widget-text--header--bewertung" *ngIf="data['bewertung'] < 5">
            <mat-icon>star</mat-icon>
          </div>
        </div>
      </div>
      <div class="picture-list--widget-text--bottom">
        <div>
          {{data.filmTmdb['release_date'] | date:'d.M.yyyy'}}
        </div>
        <div>
          {{data.filmTmdb['runtime']}} Minuten
        </div>
        <div>
          {{data['speichermedium']}}
        </div>
      </div>
    </div>
  </div>

  <!--ng-container *ngFor="let columnDefinition of getDisplayColumnsMetaData(); let i = index;">
    <ng-container [matColumnDef]="columnDefinition['name']">
      <th mat-header-cell *matHeaderCellDef> {{columnDefinition['display']}}</th>
      <td mat-cell  [class]="getMatCellClasses(columnDefinition)">
        {{element[columnDefinition['name']]}}
      </td>
    </ng-container>
  </ng-container-->

</div>
<div *ngIf="filterMovieObject()"></div>
