<div class="rating-stars--icon">
  <div class="rating-stars--icon yellow" *ngIf="bewertung >= 1">
    <mat-icon>star</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung < 1">
    <mat-icon>star_border</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung === 1.5">
    <mat-icon>star_half</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung >= 2">
    <mat-icon>star</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung < 1.5">
    <mat-icon>star_border</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung === 2.5">
    <mat-icon>star_half</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung >= 3">
    <mat-icon>star</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung < 2.5">
    <mat-icon>star_border</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung === 3.5">
    <mat-icon>star_half</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung >= 4">
    <mat-icon>star</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung < 3.5">
    <mat-icon>star_border</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung === 4.5">
    <mat-icon>star_half</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung >= 5">
    <mat-icon>star</mat-icon>
  </div>
  <div class="rating-stars--icon yellow" *ngIf="bewertung < 4.5">
    <mat-icon>star_border</mat-icon>
  </div>
</div>
